src/main/mule/flow-in-cicd-sapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="flow-in-cicd-sappFlow" doc:id="533e595b-a470-4e4e-8428-54f2f6fb1723" initialState="started" maxConcurrency="1">
		<http:listener doc:name="GET /${api.path}" doc:id="5cba1b92-718b-48f3-b35b-5d67349d0fe6" config-ref="HTTP_Listener_config" path="${api.path}" allowedMethods="GET"/>
		<file:read doc:name="Read  csv file " doc:id="4d7eefce-247e-4641-a6ee-d0acba8c37ab" config-ref="File_Config" path="${file.path}"/>
		<logger level="INFO" doc:name="Log INFO" doc:id="dc48b420-ad05-493d-838b-dc52bb1f1027" message='#["log of Number of Records logged from file :"++ sizeOf(payload)]'/>
	</flow>
</mule>
